<div class="row">
    <div class="columm">
        <h1 style="position: absolute;font-size: 300%;">Data Analysis with Python: </h1>
        <br>
        <h1 style="position: absolute;font-size: 300%;">Playing with Lego</h1>
    </div>
    <div class="column">
        <img src="https://www.bjss.com/wp-content/uploads/BJSS.svg"
             alt="BJSS Logo"
             align="right" 
             width = "200"
             style="margin: 0px 60px"
             />
    </div>
</div>

## Table of Contents
<a href="#Preamble"><font size="+1">Preamble</font></a>
* Task description
* Advice
* Testing your results
* Let's get started!

<a href="#Data-exploration"><font size="+1">1. Data exploration: Picking up our Lego</font></a>
* Let's look at our Lego: Viewing the first n rows, last n rows, a random sample of rows, and the columns
* How much Lego do we have: Total number of rows & columns
* Is there any Lego missing? Number of null rows per column
* Describing our Lego: Descriptive statistics
* (Optional) What else could we explore? 
* Summary

<a href="#Data-cleaning-preparation"><font size="+1">2. Data cleaning: Tidying our Lego</font></a>
* Labelling our Lego properly: Making column names consistent
* Getting our Lego in order: Ordering our columns
* Where's our Lego from? Cleaning up the country codes in the `'Country'` column
* What types of Lego have we got? Investigating `'ThemeName'`
* How do we know what set of Lego we're looking at? Comparing `'SetName'` and `'ProdID'`
* **Taking stock: What have we done so far? (Part 1)**
* Who can play with our Lego? The `'Ages'` column
* How difficult is our Lego? The `ReviewDifficulty` column
* How expensive is our Lego? The `'ListPrice'` column
* How much does our Lego weigh? The `'WeightGrs'` column
* How big are our Lego sets? The `'PieceCount'` column 
* (Optional) What other cleaning could we do?

<a href="#Data-extension"><font size="+1">3. Data extension: Let's get more Lego!</font></a>
* Adding columns for country names, and currencies
* (Optional) Adding an "EndSellingDate" column 
* **Taking stock: What have we done so far? (Part 2)**

<a href="#Data-interrogation"><font size="+1">4. Data interrogation: Finally, playing with our Lego</font></a>
* Which country has highest prices as an average?
* Which country launched each product first?
* Number of unique items offered globally and by country
* The sets in each theme
* (Optional) And more playing with Lego!!!
-----

<div class="row">
    <div class="column">
        <h1 style="font-size: 300%;">Preamble</h1>
        <h2 style="font-size: 200%;">Task description</h2>
        <p><b>It's time to play with some Lego</b> (data)!!!<p>
        <p>
           You have been presented with a dataset showing information about the sales of different sets of lego (<a href="Documents/Analysis%20Academy%20-%20Materials/Python%20exercises/exercise_lego/data/LegoDataRawData.csv">LegoDataRawData.csv</a> - within the '/Data' directory). These sets have been sold across a number of different countries, and launched at different points in time. 

Your job as a Data Analyst is to interrogate this data to understand the make up of lego sales, product offerings, and much more. Before that can happen, the data must be cleaned and modified to aid your analysis, and later, presentation. This notebook sets out the steps that you'll want to take in such a process, explaining the tasks you'll want to perform at each stage, but leaving the implementation to you!
        </p>
    </div>
    <div class="column">
        <h2 style="font-size: 200%;">Advice</h2>
        <p>
           Given this, this is more of a technical exercise than a business one, but you are encouraged to keep a critical mind throughout the process. Where would we record the kind of decisions that are being made? How would you present the findings? What other options might there be at each stage, and what else could be explored?
        </p>
        <img src="https://phoenixts.com/wp-content/uploads/2019/08/computer-desk-5.jpg"
             alt="Lego analyst"
             align="right" 
             width = "400"
             style="margin: 0px 60px"
             />
    </div>
</div>

## Testing your results

Throughout this notebook, there are tasks set out in '**Task**' sections, followed by code blocks with a comment like so:

```python
# TODO - Add your code below
```

Add your code in those cells, and run them. Once you're happy it's had the desired effect, you can move on through the notebook. For more essential tasks, there will be a '**TEST**' codeblock below, which you can run to test whether your code has had the desired effect. If it has, you'll see a statement like so:

```python
"( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good."
```

If it unfortunately hasn't quite worked, you'll see something like:

```python
"( ͡❛ ︵ ͡❛) This Lego still needs some cleaning..."
```

Run the code block below to ensure you can test your answers!

In [1]:
# Add the location of the assertions module to the PYTHONPATH variable
import sys
import os

if sys.platform == 'win32':
    slash = "\\"
else:
    slash = "/"
    
notebook_dir = sys.path[0]
root_path = notebook_dir[0:notebook_dir.rfind(slash)]

assertions_path = rf'{root_path}{slash}Assertions'

if not os.path.exists(assertions_path):
    print('ERROR: Assertion set up has failed - contact a tutor')
else:
    sys.path.append(assertions_path)
    # If it's worked, we can import assertions
    import assertions
    print('SUCCESS: Assertion set up successful')

SUCCESS: Assertion set up successful

## Let's get started!

Before we begin, we'll import `pandas`, giving it the alias `pd`, and import our dataset into a `pandas` DataFrame variable called `df`.

### Task: 

* Import the Lego dataset from the path '../Data/LegoDataRawData.csv' into a `pandas` dataframe, called `df`, and run the test code to check it's worked

In [2]:
## TODO: Add your own code below!

In [3]:
# Test your code here!
try:
    assertions.data_loaded(df)
except:
    print("The variable df isn't defined")

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

------
<div class="row">
    <div class="column">
        <h1 style="font-size: 300%;">1. Data exploration: Picking up our Lego</h1>
        <p>
            The first stage in any data analysis workflow is exploration. Let's look at the data in a number of different ways, to identify what kind of questions we might be able to ask, and what steps we might need to take before we can answer those questions.            
        </p>
    </div>
</div>

<div class="column">
        <img src="http://3.bp.blogspot.com/-zaiE5Nm86u4/U2s_FIzRYxI/AAAAAAAAAtA/0xzHw8dwwdM/s1600/image001-726789.png"
             alt="Lego data workflow"
             align="central" 
             width = "500"
             style="margin: 0px 100px"
             />
    </div>

Before each of the steps above can happen, we better understand what all this Lego looks like!

## Viewing the first n rows, last n rows, a random sample of rows, and the columns of our dataframe

Now we've got our dataframe, `df`, let's take a look at some of the rows, and the columns present.

### Task: 

* Write commands below to display: 
    * The columns of `df`
    * The first 5 rows
    * The last 5 rows, and
    * A random sample of 5 rows

In [4]:
## TODO: Add your own code below!

Index(['Unnamed: 0', 'ages', 'list_price', 'num reviews', 'piece_count',
       'prod Desc', 'prod_id', 'prod_long_desc', 'review difficulty',
       'set_name', 'themename', 'val_star_rating', 'country', 'LaunchDate',
       'weight_grs'],
      dtype='object')

In [5]:
## TODO: Add your own code below!

,Unnamed: 0,ages,list_price,num reviews,piece_count,prod Desc,prod_id,prod_long_desc,review difficulty,set_name,themename,val_star_rating,country,LaunchDate,weight_grs
0,0,4+,2.4900,180.0,1.0,Everyone needs one!,630,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,Classic,4.6,US,25/06/2017,2003
1,1,4+,2.2724,180.0,1.0,Everyone needs one!,630,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,Classic,4.6,AU,20/02/2017,2003
2,2,4+,3.0378,180.0,1.0,Everyone needs one!,630,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,Classic,4.6,AT,12/07/2014,2003
3,3,4+,3.0378,180.0,1.0,Everyone needs one!,630,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,Classic,4.6,BE,09/12/2018,2003
4,4,4+,2.3322,180.0,1.0,Everyone needs one!,630,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,Classic,4.6,CA,15/04/2012,2003

In [6]:
## TODO: Add your own code below!

,Unnamed: 0,ages,list_price,num reviews,piece_count,prod Desc,prod_id,prod_long_desc,review difficulty,set_name,themename,val_star_rating,country,LaunchDate,weight_grs
12256,12256,0,579.7350,8.0,2455.0,NaN,2000431,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,SERIOUS PLAY®,2.9,NO,30/11/2020,1200
12257,12257,0,683.1878,8.0,2455.0,NaN,2000431,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,SERIOUS PLAY®,2.9,NL,15/02/2013,1200
12258,12258,0,709.9929,8.0,2455.0,NaN,2000431,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,SERIOUS PLAY®,2.9,NZ,24/04/2017,1200
12259,12259,0,725.0000,8.0,2455.0,NaN,2000431,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,SERIOUS PLAY®,2.9,PL,10/03/2011,1200
12260,12260,0,683.1878,8.0,2455.0,NaN,2000431,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,SERIOUS PLAY®,2.9,PT,09/06/2012,1200

In [7]:
## TODO: Add your own code below!

,Unnamed: 0,ages,list_price,num reviews,piece_count,prod Desc,prod_id,prod_long_desc,review difficulty,set_name,themename,val_star_rating,country,LaunchDate,weight_grs
1083,1083,04-Jul,36.5878,2.0,175.0,Tear it down and build it again!,10734,Grab your hard hat and get to work on the LEGO...,NaN,Demolition Site,Juniors,4.0,DE,10/09/2016,926
1752,1752,04-Jul,34.9860,NaN,85.0,Rescue the Raptor before the volcano erupts!,10757,Introduce your child to the thrill of explorat...,NaN,Raptor Rescue Truck,Juniors,NaN,GB,09/07/2011,380
6340,6340,Jul-14,12.5860,2.0,176.0,Collect and transport heavy cargo with the Hoo...,42084,Enjoy a rewarding build-and-play experience wi...,Easy,Hook Loader,Technic,4.5,GB,16/09/2014,1930
4262,4262,05-Dec,19.1520,1.0,104.0,"Get in training with Disney Mulan, ready for t...",41151,LEGO® l Disney Mulan’s Training Day is easy to...,Average,Mulan's Training Day,Disney™,5.0,CZ,13/11/2011,154
11968,11968,06-Dec,40.6980,6.0,271.0,Pursue Reverse Flash™ and grab the Energy Infu...,76098,Dash with The Flash™ to catch Reverse Flash™ a...,Easy,Speed Force Freeze Pursuit,DC Comics™ Super Heroes,4.5,CH,20/12/2012,609

## Total number of rows & columns

Let's take a look at the total number of rows and columns are in our dataframe.

### Task:
* Find and use a command to display the number of rows, and columns in `df`

In [8]:
## TODO: Add your own code below!

(12261, 15)

### Number of null rows per column

Having null data in columns that we want to use for reporting may (or may not) be problematic. 

What do null values represent? In each case, we'll have to figure out whether we want to exclude null records, or otherwise fill them in, based on the context.

### Task:
* Find and use a command to show the number of non-null rows, and data types, of all the columns in df

In [9]:
## TODO: Add your own code below!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12261 non-null  int64
 1   ages               12261 non-null  object
 2   list_price         12261 non-null  float64
 3   num reviews        10641 non-null  float64
 4   piece_count        12254 non-null  float64
 5   prod Desc          11884 non-null  object
 6   prod_id            12261 non-null  int64
 7   prod_long_desc     12261 non-null  object
 8   review difficulty  10205 non-null  object
 9   set_name           12261 non-null  object
 10  themename          12258 non-null  object
 11  val_star_rating    10466 non-null  float64
 12  country            12261 non-null  object
 13  LaunchDate         12261 non-null  object
 14  weight_grs         12261 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 1.4+ MB


We can see from the above that most columns have null values - num reviews, piece_count, prod Desc, review difficult, themename, and val_star_rating. This might be an issue later! What do null values represent in each case?

## Descriptive statistics

Let's take a look at some descriptive stats, in case they're helpful.

### Task:
* Find and use a command that shows the count, mean, standard deviation, minimum, maximum, and quartiles for each of the numeric columns in ```df```

In [10]:
## TODO: Add your own code below!

,Unnamed: 0,list_price,num reviews,piece_count,prod_id,val_star_rating,weight_grs
count,12261.00000,12261.000000,10641.000000,12254.000000,1.226100e+04,10466.000000,12261.000000
mean,6130.00000,65.141998,16.826238,493.687041,5.983675e+04,4.228960,1205.456162
std,3539.59016,91.980429,36.368984,825.516526,1.638115e+05,0.660282,660.158228
min,0.00000,2.272400,1.000000,1.000000,6.300000e+02,1.000000,100.000000
25%,3065.00000,19.990000,2.000000,97.000000,2.103400e+04,4.000000,612.000000
50%,6130.00000,36.587800,6.000000,216.000000,4.206900e+04,4.300000,1207.000000
75%,9195.00000,70.192200,13.000000,544.000000,7.092200e+04,4.700000,1796.000000
max,12260.00000,1104.870000,367.000000,7541.000000,2.000431e+06,5.000000,2299.000000

## (Optional) What else could we explore? 

These have been some pretty basic methods for exploring the data. What else might you want to investigate?

You could look at:
* The distribution of values in each column
* The number of unique values in each column
* Whether there is a 1-1 correspondence between different columns. For example, does `'prod_id'` uniquely correspond to one `'set_name'`? These kind of questions will be useful for cleaning later
* And many more things!

In [11]:
# TODO - Add your own explorations here!

# Note that at this stage we don't want to be editing the 'df' variable directly, just exploring it

## Summary - Data exploration

Let's take stock of what we've learnt from this:

* There's a column called `'Unnamed: 0`', which doesn't seem useful - every value is the same as the corresponding value in the index of our dataframe. Once we begin cleaning our data, we can drop this column.
* The column names don't follow a consistent convention! This is confusing, and something we'll want to fix right away.
* There are two things that look like they might identify a product - `'prod_id'`, and `'set_name'`. Later, we should probably check whether either would work to identify a product - could one `'set_name'` have multiple `'prod_id'` values? How about the other way round? Let's come back to this.
* Most of the columns look pretty messy... we'll have to look at each one in turn to see whether we need to (and can) clean them!
* There are columns that we might expect would be uniquely identified by combinations of other columns, e.g.:
    * `'ages'` - will this be uniquely identified by the `'prod_id'`/`'set_name'`? How about by a combination of `'prod_id'` and '`country`'? 
    * `'piece_count'` - will this be uniquely determined by `'prod_id'`/`'set_name'`?
    We'll want to look into these questions later!

-----
<div class="row">
    <div class="column">
        <h1 style="font-size: 300%;">2. Data cleaning: Tidying our Lego</h1>
        <p>
            We've now seen that this Lego is pretty messy! We're going to want to get to work cleaning it up, making sure the all pieces are all clean, in the right place, look sensible, there aren't any missing, and so forth. Once that's all done, we'll have something that can be used for analysis and reporting. 

Before we do so, let's create a new dataframe that we'll update, called, `df_cleaned`. This is good practice so that we can always compare back to the original values if needed.
        </p>
    </div>
    <div>
        <img src="https://i.redd.it/mmx472by7nf31.jpg"
             alt="Lazy Lego"
             align="left" 
             width = "500"
             style="margin: 0px 0px"
             />
    </div>
</div>

In [12]:
# Let's make a copy of df, called df_cleaned
df_cleaned = df.copy()

## Labelling our Lego properly: Making column names consistent

There's current a mismatch in naming conventions for the columns in our dataframe - some are CamelCase, some are snake_case, and others are written with spaces. This won't do! Let's rename our columns so that they all follow a CamelCase convention (e.g. `'list_price'` becomes `'ListPrice'`, and so on), and let's also drop the column called `'Unnamed: 0'`, we don't need it.


### Task:
* Make all of the column names in `df_cleaned` follow a CamelCase convention, and get rid of the column called `'Unnamed: 0'`
* Also, make any instance of `'Id'` into an upper case `'ID'`

In [13]:
## TODO: Add your own code below!

Index(['ages', 'list_price', 'num reviews', 'piece_count', 'prod Desc',
       'prod_id', 'prod_long_desc', 'review difficulty', 'set_name',
       'themename', 'val_star_rating', 'country', 'LaunchDate', 'weight_grs'],
      dtype='object')

In [14]:
## TODO: Add your own code below!

Index(['Ages', 'ListPrice', 'NumReviews', 'PieceCount', 'ProdDesc', 'ProdID',
       'ProdLongDesc', 'ReviewDifficulty', 'SetName', 'ThemeName',
       'ValStarRating', 'Country', 'LaunchDate', 'WeightGrs'],
      dtype='object')

Once you've done the above, you can run the block of code below to test your output!

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [15]:
# TEST CELL - Run this cell to test your column modifications

assertions.column_renaming(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

## Getting our Lego in order: Ordering our columns

Now that we've got a decent naming convention for our columns, it might be helpful to re-order them. 

* Some columns, like `'ProdID'`, `'SetName'`, `'ProdDesc'`, and `'ProdLongDesc'` are descriptive fields about our Lego sets - explaining what they are. These are what are known as **dimensions**. It'd make sense to group these columns together.
* On the other hand, the columns such as `'ThemeName'`, `'Country'`, `'Ages'`, `'ReviewDifficulty'`, `'NumReviews'`, `'ListPrice'`, `'WeightGrs'`, `'PieceCount'`, `'ValStarRating'`, and `'LaunchDate'` are all **facts** about our Lego sets - the kind of columns we'd use for answering different business questions about our different Lego sets. Again, we'd probably want to group these together!

This distinction is important in how we're thinking about our data - some columns are identifying information, and some are descriptive. It's something you'll hear much more about through the academy.

Let's reorder the columns of our dataframe so that they have the dimension columns first, and then the fact columns.

### Task:
* Put the columns of `df_cleaned` into the *order specified above*, i.e. starting with `'ProdId'`, and finishing with `'LaunchDate'`

In [16]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [17]:
# TEST CELL - Run this cell to test your column modifications

assertions.column_reordering(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

## Where's our Lego from? Cleaning up the country codes in the `'Country'` column

If we take a look at the list of unique country codes (`'Country'`), as below, we see that there isn't a consistent convention in the entries within this column:

In [18]:
unique_countries = list(df_cleaned['Country'].unique())
unique_countries.sort()
print(unique_countries)

['AT', 'AU', 'Austria', 'BE', 'CA', 'CH', 'CH ', 'CZ', 'DE', 'DN', 'Dn', 'ES', 'FI', 'FR', 'GB', 'IE', 'IT', 'LU', 'NL', 'NO', 'NZ', 'PL', 'PT', 'US']

We don't want some rows to record 'AU', and some to report 'Austria' - it's difficult to deal with. Let's relabel any entries that aren't a 2 letter country code.

### Task:

* Update the entries in the 'Country' column so that they are all upper case 2 letter country codes, without spaces.

In [19]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [20]:
# TEST CELL - Run this cell to test your column modifications

assertions.country_cleaning(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

## What types of Lego have we got: Investigating `'ThemeName'`

We've already seen there were some little issues in the `'Country'` column regarding the spelling and case of entries. We've also got the `'ThemeName'` column that tells us what kind of Lego set we're looking at. But there might be similar issues!

Let's take a look at what kinds of themes are present, and clean up some entries if there are similar themes with slightly different spelling.

### Task:

* Create a new variable, `unique_themes`, that is a `list` of the **unique** `'ThemeName'` values present in our dataset.

#### Hints
* The code used above to find `unique_countries` might be helpful! If you get an error, maybe try dropping the '`.sort()`' operation.

In [21]:
## TODO: Add your own code below!

['Angry Birds™',
 'Architecture',
 'BOOST',
 "Blue's Helicopter Pursuit",
 'BrickHeadz',
 'Carnotaurus Gyrosphere Escape',
 'City',
 'Classic',
 'Creator 3-in-1',
 'Creator Expert',
 'DC Comics™ Super Heroes',
 'DC Super Hero Girls',
 'DIMENSIONS™',
 'DUPLO®',
 'Dilophosaurus Outpost Attack',
 'Disney™',
 'Elves',
 'Friends',
 'Ghostbusters™',
 'Ideas',
 'Indoraptor Rampage at Lockwood Estate',
 'Juniors',
 'Jurassic Park Velociraptor Chase',
 'LEGO® Creator 3-in-1',
 'MINDSTORMS®',
 'Marvel Super Heroes',
 'Minecraft™',
 'Minifigures',
 'NEXO KNIGHTS™',
 'NINJAGO®',
 'Power Functions',
 'Pteranodon Chase',
 'SERIOUS PLAY®',
 'Speed Champions',
 'Star Wars™',
 'Stygimoloch Breakout',
 'T. rex Transport',
 'THE LEGO® BATMAN MOVIE',
 'THE LEGO® NINJAGO® MOVIE™',
 'Technic']

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [22]:
# TEST CELL - Run this cell to test your column modifications
try:
    assertions.unique_themes(unique_themes)
except:
    print('The unique_themes variable wasnt found... have you defined it?')

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

If you manage to investigate the `'ThemeName'` values present, you should find that they mostly look OK, although there are some values that are 'nan' (missing)! 

To assess how much of an issue these null values might be, let's take a look at how many values are null.

### Task:

* Count the number of entries that have a `'NaN'` entry in the `'ThemeName'` column.

#### Hints
* A `.loc` operation will be useful
* The `.isna()` operation will also be useful

In [23]:
## TODO: Add your own code below!

3

If you manage the above, you should find that there are only 3 rows that are missing a `ThemeName`. Given this is so few, let's not bother worrying about them, and move on to our next topic.

## How do we know what set of Lego we're looking at? Comparing `'SetName'` and `'ProdID'`

As mentioned at the end of the the exploration stage, we have two columns that could feasibly be used to identify a certain Lego set - `'SetName'`, and `'ProdID'`. Run the code block below to look at just these two columns in isolation.

In [24]:
# Let's just show these two columns, and the first five rows
df_cleaned[['ProdID','SetName']].head(5)

   ProdID          SetName
0     630  Brick Separator
1     630  Brick Separator
2     630  Brick Separator
3     630  Brick Separator
4     630  Brick Separator

They look like they might be the same! But we can't just be satisfied from seeing the first couple rows. 

This brings us to our first more difficult task - finding out whether `'ProdID'` and `'SetName'` have a 1-to-1 correspondence...

### Task:

* Find out whether, for each unique `'ProdID'`, there is only one possible `'SetName'` value. 
* To do so, you'll want to break the problem down into the following steps:
    1. Create a new dataframe, `prod_to_set`, which has just the `'ProdID'` and `'SetName'` columns, and drop any duplicate rows
    2. Get a count of the number of unique countries for each `'ProdID'` by using `.groupby` operation. Define this as a DataFrame called `set_count_by_product` 
        * Note: You'll want to use `.reset_index()` operation as well to return a `DataFrame` object, rather than just a pandas `Series`
    3. Using a `.loc` operation, modify `set_count_by_product` to select only the `'ProdIds'` that have >1 unique `'SetName'`

In [25]:
## TODO: Add your own code below!

     ProdID  SetName
1      2304        2
6      8293        2
96    10816        2
238   41150        3
538   71171        2
573   75060        2

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [26]:
# TEST CELL - Run this cell to test your set_count_by_product DataFrame

assertions.set_count_by_product(set_count_by_product)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

If the code passes, you'll be able to see that your dataframe, called `set_count_by_product` has identified 6 products with >1 possible `'SetName'` value. We could do with knowing why this is!

Let's use the `set_count_by_product` dataframe you've created to get a `list` of `'ProdID'`'s that have >1 associated set name. Once we've got that, we can use a `.loc` operation on `df_cleaned` to show just the different `'SetName'`'s present for these products.

### Task:

* Using your `set_count_by_product`, create variable called `prods_to_investigate`, that is a `list` object of the `'ProdID'`'s that have >1 `'SetName'`.
* Using a `.loc` operation on `prod_to_set`, create a DataFrame variable called `duped_sets` that has just the rows with the `'ProdID'`'s in `prods_to_investigate`
* View the rows in `duped_sets`

In [27]:
## TODO: Add your own code below!

      ProdID                                        SetName
21      2304                   LEGO® DUPLO® Green Baseplate
22      2304                   Green LEGO® DUPLO® Baseplate
126     8293                LEGO® Power Functions Motor Set
127     8293                      Power Functions Motor Set
1964   10816                       My First Cars and Trucks
1976   10816                              My First Vehicles
4235   41150                           Moana’s Ocean Voyage
4237   41150                          Vaiana's Ocean Voyage
4247   41150                           Moana's Ocean Voyage
9376   71171  LEGO® DIMENSIONS™ PLAYSTATION® 4 Starter Pack
9378   71171                    Starter Pack PLAYSTATION® 4
9782   75060                                        Slave I
9786   75060                                       Slave I™

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [28]:
# TEST CELL - Run this cell to test your duped_sets variable

assertions.duped_sets(duped_sets)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

If you've managed to create and view the `duped_sets` variable, you'll see that there are probably only small differences here! 

For example, `'ProdID' = 2304` has two possible values:
* 'LEGO® DUPLO® Green Baseplate'
* 'Green LEGO® DUPLO® Baseplate'

For all these cases, we can be satisfied that these really are the same values.

Just for completeness, let's replace some of the values in the `'SetName'` column so that each `'ProdID'` will just have one possible `'SetName'` value.

### Task:
* Update the `'SetName'` column of `df_cleaned` to replace entries in the following way:
    * Replace 'LEGO® DUPLO® Green Baseplate' with 'Green LEGO® DUPLO® Baseplate'
    * Replace 'LEGO® Power Functions Motor Set' with 'Power Functions Motor Set'
    * Replace 'My First Cars and Trucks' with 'My First Vehicles'
    * Replace 'Moana’s Ocean Voyage', and 'Vaiana's Ocean Voyage' with 'Moana's Ocean Voyage'
    * Replace 'LEGO® DIMENSIONS™ PLAYSTATION® 4 Starter Pack' with 'Starter Pack PLAYSTATION® 4'
    * Replace 'Slave I™' with 'Slave I'
    
#### Hints

* You'll find the `.replace` function helpful
* To deal with strings that contain a `'` symbol, use `"` marks

In [29]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [30]:
# TEST CELL - Run this cell to test your cleaning of 'SetName'

assertions.cleaned_set_names(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

Phew! Now we can rest assured that `'ProdID'` and `'SetName'` are pretty much the same. We've got to know what Lego set we're looking at, after all!

Let's move on to some further cleaning.

<div>
        <img src="https://i.ebayimg.com/images/g/IGwAAOSwLEtYfP~g/s-l300.jpg"
             alt="Happy Lego Dude"
             align="left" 
             width = "400"
             style="margin: 0px 0px"
             />
    </div>

-----
## Taking stock: What have we done so far? (Part 1)

We're doing a pretty good job of getting our Lego in order at this point! To summarise where we're up to, we have:
* Made our column names consistent, and put them in a logic ordering, with dimensions at the front, facts at the back
* Cleaned up the entries in some of our descriptive fact columns (e.g., 'Country'), or at least checked that there weren't big issues with them (e.g. 'ThemeName' - only 3 null values)
* Addressed an important question - whether two of our dimensions, i.e., 'ProdID' and 'SetName' represent the same thing, and cleaned up some entries where there were small differences

This is an important milestone! Effectively, our Lego is looking pretty neat (column names and ordering), and we know how to identify and describe our blocks (dimension columns align, and `'Country'` and `'ThemeName'` are in a good state).

Now, it's time to make sure our facts about our Lego are accurate! We're going to start looking at the other **fact** columns we identified earlier: 

* `'Ages'` 
* `'ReviewDifficulty'`
* `'NumReviews'`
* `'ListPrice'`
* `'WeightGrs'`
* `'PieceCount'`
* `'ValStarRating'`, and
* `'LaunchDate'`

For each of these columns, we've got some important questions to ask, and issues to resolve as and when we find them.

We'll only actually investigate a subset of these columns, as some are less important to report on. We decide we're going to investigate the following columns:

* `'Ages'` 
* `'ReviewDifficulty'`
* `'ListPrice'`
* `'WeightGrs'` 
* `'PieceCount'` and
* `'LaunchDate'`

## Who can play with our Lego? The `'Ages'` column

Let's think about the `'Ages'` column. First things first, let's take a look at the unique values present there - do they make sense? Can we clean them?

## Task:
* Write a command below to define a variable, `unique_ages` as a list of unique values in the `'Ages'` column
* Sort this list, and print it

In [31]:
## TODO: Add your own code below!

['0',
 '02-May',
 '04-Jul',
 '05-Aug',
 '05-Dec',
 '06-Dec',
 '07-Dec',
 '08-Dec',
 '09-Dec',
 '10+',
 '12+',
 '14+',
 '16+',
 '1½-3',
 '1½-5',
 '4+',
 '5+',
 '6+',
 '7+',
 '8+',
 '9+',
 'Apr-99',
 'Aug-14',
 'Dec-16',
 'Jul-14',
 'Jun-14',
 'Nov-16',
 'Oct-14',
 'Oct-16',
 'Oct-21',
 'Sep-14',
 'Sep-16']

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [32]:
# TEST CELL - Run this cell to test your unique_ages variable

assertions.unique_ages(unique_ages)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

We can see that there are string in this column, and whilst some make sense (e.g., `'10+'`, `'1½-5'`), some don't - they're dates. Let's start by updating the `'Ages'` column in the following ways:


### Task:

* Clean the `'Ages'` column, by: 
    * Removing any entries that don't follow the format: '{number}+' or '{number_1}-{number_2}'
    * Replacing each instance of '{number}+' with just the number, replace each instance of '{number_1}-{number_2}' with number_1
    * Format the column as integers/floats

In [33]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [34]:
# TEST CELL - Run this cell to test your cleaning of the 'Ages' column

assertions.ages_cleaned(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

Now that we've cleaned the column, we can start thinking about its relationship to our dimension columns. Will a specific `'SetName'` always have the same `'Ages'` value? Not necessarily. It's feasible that sets have different age ratings in different countries.

We'd expect that the `'Ages'` value would be uniquely identified by a particular `'SetName'`, and `'Country'`.

### Task:

* For each (`'SetName'`, `'Country'`) pairing, identify whether there are any records with >1 possible value for `'Ages'`

In [35]:
## TODO: Add your own code below!

If you complete the above, you should find out that this is fine! We don't need to worry - the `'Ages'` column is consistent across each `'SetName'` and `'Country'` pair.

## How difficult is our Lego? The `ReviewDifficulty` column - TODO: FINISH

Let's now take a look at the `'ReviewDifficulty'` column - what are the possible values? Are they consistent?

Run the code in the cells below to look at the values present for the `'ReviewDifficulty'` field. We can see that there are supposed to be a handful of different categories:

In [36]:
# Examine the unique values present in ReviewDifficulty

list(df_cleaned['ReviewDifficulty'].unique())

['Very Easy',
 'Easy',
 'Challenging',
 'Average',
 nan,
 'EASY',
 'average',
 'AVERAGE',
 'Very Challenging']

We can see that difficulties range from 'Very Easy' through to 'Very challenging', formatted as strings, but there are some spelling variations, and some 'nan' (not a number) values. We'll want to do two things: 

(1) Standardise the case of the entries to title case, e.g. 'EASY' becomes 'Easy', 'average' and 'AVERAGE' to average, and
(2) Decide how we are going to deal with the null (nan) entries

### Task 1:
Make all the entries follow a title case convention

In [37]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!</span>

In [38]:
# TEST CELL - Run this cell to test your cleaning of the 'ReviewDifficulty' column

assertions.difficulty_cleaned(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

Now that we've cleaned up the entries, it's time to take a look at these null values. Run the code below to take a look at some of the records where the ReviewDifficulty field is showing nan.

In [39]:
df_cleaned.loc[df_cleaned['ReviewDifficulty'].isna()]

,ProdID,SetName,ProdDesc,ProdLongDesc,ThemeName,Country,Ages,ReviewDifficulty,NumReviews,ListPrice,WeightGrs,PieceCount,ValStarRating,LaunchDate
575,10606,Doc McStuffins™ Backyard Clinic,Help toys feel better in Doc McStuffins™’ Back...,The Doc is in! Help Doc McStuffins™ and friend...,DUPLO®,US,NaN,NaN,NaN,29.9900,154,39.0,NaN,14/02/2019
576,10606,Doc McStuffins™ Backyard Clinic,Help toys feel better in Doc McStuffins’™ Back...,The Doc is in! Help Doc McStuffins™ and friend...,DUPLO®,CA,NaN,NaN,NaN,27.2922,154,39.0,NaN,07/05/2010
735,10704,Creative Box,Imagine and create with LEGO® Classic bricks!,Unleash a world of open-ended creativity and i...,Classic,AU,NaN,NaN,2.0,45.5924,2208,900.0,4.5,05/08/2015
736,10704,Creative Box,Imagine and create with LEGO® Classic bricks!,Unleash a world of open-ended creativity and i...,Classic,AT,NaN,NaN,2.0,42.6878,2208,900.0,4.5,23/11/2015
737,10704,Creative Box,Imagine and create with LEGO® Classic bricks!,Unleash a world of open-ended creativity and i...,Classic,BE,NaN,NaN,2.0,48.7878,2208,900.0,4.5,03/10/2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11897,76090,Mighty Micros: Star-Lord vs. Nebula,Help Star-Lord grab the stolen mixtape from Ne...,Join Star-Lord in a LEGO® Marvel Super Heroes ...,Marvel Super Heroes,NZ,NaN,NaN,NaN,14.1929,951,86.0,NaN,21/02/2017
11898,76090,Mighty Micros: Star-Lord vs. Nebula,Help Star-Lord grab the stolen mixtape from Ne...,Join Star-Lord in a LEGO® Marvel Super Heroes ...,Marvel Super Heroes,PL,NaN,NaN,NaN,13.0471,951,86.0,NaN,09/12/2017
11899,76090,Mighty Micros: Star-Lord vs. Nebula,Help Star-Lord grab the stolen mixtape from Ne...,Join Star-Lord in a LEGO® Marvel Super Heroes ...,Marvel Super Heroes,PT,NaN,NaN,NaN,12.1878,951,86.0,NaN,01/10/2017
12173,853516,LEGO® NEXO KNIGHTS™ Monsters Army-Building Set,Grow Jestro's army with these hot-headed Lava ...,Join the ranks of Jestro's legion of evil mini...,NEXO KNIGHTS™,US,6.0,NaN,NaN,14.9900,886,30.0,NaN,09/01/2012
12174,853516,LEGO® NEXO KNIGHTS™ Monsters Army-Building Set,Grow Jestro's army with these hot-headed Lava ...,Join the ranks of Jestro's legion of evil mini...,NEXO KNIGHTS™,CA,6.0,NaN,NaN,14.0322,886,30.0,NaN,05/12/2010

There's a lot of null entries here! Unlike with `'ThemeName'` earlier, we're going to have to deal with this.

There are a couple of options we could use to fill these null values. Do we have other records with the **same** `'ProdID'` where the `'ReviewDifficulty'` isn't null? If so, we could use those other rows to fill in these missing values!

The code below will show us that we could use this method to fill some fields, but not all of them.

In [40]:
# Get a list of the unique product IDs with a non null 'ReviewDifficulty', and a list of unique product IDs with a null 'ReviewDifficulty'

non_null = set(df_cleaned.loc[df_cleaned['ReviewDifficulty'].notna()]['ProdID'].unique())
null = set(df_cleaned.loc[df_cleaned['ReviewDifficulty'].isna()]['ProdID'].unique())

print(f'The number of products with at least one null ReviewDifficulty is {len(non_null)}\n')
print(f'Of these, {len(null & non_null)} have another record with a ReviewDifficulty that isnt null\n')
print(f'They are: {null & non_null}')

The number of products with at least one null ReviewDifficulty is 636

Of these, 8 have another record with a ReviewDifficulty that isnt null

They are: {75523, 70628, 70905, 10759, 10761, 75181, 75187, 75929}

Given the above, there's still going to be 624 null entries that we can't fill in using other similar records...

Furthermore, is a `'ReviewDifficulty'` entry unique for each `'ProdID'`? This is an important question!

Let's take a look at the values in `'ReviewDifficulty'`, based on the `'ProdID'`. Does `'ProdID'` uniquely determine `'ReviewDifficulty'`?

### Task:

* Write a block of code below to find out whether there can be >1 (non-null) entry in `'ReviewDifficulty'` for any `'ProdID'`

In [41]:
## TODO: Add your own code below!

     ProdID  Number unique reviews
548   75209                      4
583   75926                      2

You should find that actually there are a pair of different `'ProdID'`s that have >1 different review type:
* 75209
* 75926

Ideally, we'll just have one `'ReviewDifficulty'` for each product. Given what we've just found about (a) null `'ReviewDifficulty'` entries, and (b) conflicting `'ReviewDifficulty'` entries for the same product, we discuss with the business and are told that for analysis purposes, we will do the following:

For each `'ProdId'`, we will do the following to identify a unique `'ReviewDifficulty'`:

1. If the `'ProdID'` has one unique non-null `'ReviewDifficulty'` entry in this dataset, we use that
2. If the `'ProdID'` has >1 unique non-null `'ReviewDifficulty'` entry in this dataset, we use the one with the latest `'LaunchDate'`
3. If the `'ProdID'` has only null `'ReviewDifficulty'` entries in this dataset, we will fill the `'ReviewDifficulty'` field using the following logic:
   * If `'PieceCount'` <= 90 then 'Very Easy'
   * If `'PieceCount'` > 90 and `'PieceCount'` <=230 then 'Easy'
   * If `'PieceCount'` > 230 and `'PieceCount'` <=560 then 'Average'
   * If `'PieceCount'` > 560 and `'PieceCount'` <=1000 then 'Challenging'
   * If `'PieceCount'` >1000 then 'Very Challenging' 

## Task (HARD):
* Create a dataframe called `new_reviews` containing two columns, `'ProdID'`, and `'ReviewDifficulty'`, that implements the logic above.
    * To do this, you may wish to implement the logic in the three stages as specified above, then bring the three dataframes together. I.e.
    1. Create a dataframe called `unique_reviews`, that has two columns, `'ProdID'` and `'ReviewDifficulty'`, with one row for each `'ProdID'` where there is a unique value for `'ReviewDifficulty'`
    2. Create a dataframe called `non_unique_reviews`, that has two columns, `'ProdID'` and `'ReviewDifficulty'`, with one row for each `'ProdID'` where there is a non unique value for `'ReviewDifficulty'`, and the latest `'ReviewDifficulty'` value is chosen
    3. Create a dataframe called `null_reviews`, that has two columns, `'ProdID'` and `'ReviewDifficulty'`, with one row for each `'ProdID'` where there are no values for `'ReviewDifficulty'`, and the `'ReviewDifficulty'` column has been filled out using the logic specified above on `'PieceCount'`
    4. Combine all three dataframes above to create a complete dataframe, called `new_reviews`

In [42]:
## TODO: Add your own code below!

       ProdID ReviewDifficulty
0         630        Very Easy
21       2304             Easy
42       7280        Very Easy
63       7281        Very Easy
84       7499             Easy
...       ...              ...
11485   75928          Average
11590   75933      Challenging
11858   76089        Very Easy
11879   76090        Very Easy
12173  853516        Very Easy

[744 rows x 2 columns]

### TEST: 
<span style="color:blue">Run the code block below to test your output!</span>

In [43]:
# TEST CELL - Run this cell to test your 'new_reviews' variable

try:
    assertions.new_reviews(new_reviews)
except:
    print(f'Your dataframe, {new_reviews}, hasnt been found. Have you defined it?')

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

Now that we have our `new_reviews` DataFrame, we can update the `'ReviewDifficulty'` column in `df_cleaned` by dropping that column, and using a `.merge` operation to update that column with the entries from `new_reviews`.

## Task:

* Replace the `ReviewDifficulty` entries in `df_cleaned` with the `'ReviewDifficulty'` entries in `new_reviews`

In [44]:
## TODO: Add your own code below!

,ProdID,SetName,ProdDesc,ProdLongDesc,ThemeName,Country,Ages,NumReviews,ListPrice,WeightGrs,PieceCount,ValStarRating,LaunchDate,ReviewDifficulty
0,630,Brick Separator,Everyone needs one!,This tool makes it a snap to pull those small ...,Classic,US,4.0,180.0,2.4900,2003,1.0,4.6,25/06/2017,Very Easy
1,630,Brick Separator,Everyone needs one!,This tool makes it a snap to pull those small ...,Classic,AU,4.0,180.0,2.2724,2003,1.0,4.6,20/02/2017,Very Easy
2,630,Brick Separator,Everyone needs one!,This tool makes it a snap to pull those small ...,Classic,AT,4.0,180.0,3.0378,2003,1.0,4.6,12/07/2014,Very Easy

### TEST: 
<span style="color:blue">Run the code block below to test your output!</span>

In [45]:
# TEST CELL - Run this cell to test your cleaning of the 'ReviewDifficulty' column

assertions.updated_reviews(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

## How expensive is our Lego? The `'ListPrice'` column - PLACEHOLDER

Cleaning up the `'ReviewDifficulty'` column was a tricky one! Let's hope that `'ListPrice'` is an easier challenge...

As usual, before we know what we need to do, let's get some information about this column.

In [46]:
# The datatype of the column
print(f"ListPrice column has data type: {df_cleaned['ListPrice'].dtype}\n")
print(f"Max value is: {df_cleaned['ListPrice'].max()}\n")
print(f"Min value is: {df_cleaned['ListPrice'].min()}\n")
print(f"Number of null entries: {df_cleaned['ListPrice'].isna().sum()}")

ListPrice column has data type: float64

Max value is: 1104.87

Min value is: 2.2724

Number of null entries: 0

Wow! That's a nice surprise...

The column is correctly formatted as a float, has no 0 or negative entries (how could a set sell for free or <0?)

The only thing we might want to check is again whether `'ListPrice'` is uniquely determined by `'Country'` and `'ProdID'` - does `'ListPrice'` change over time?

### Task:

* Identify whether any pairings of `'Country'` and `'ProdID'` have >1 possible `'ListPrice'`

In [47]:
## TODO: Add your own code below!

If you manage the above, you'll see that in fact there aren't any pairings of `'Country'` and `'ProdID'` have >1 possible `'ListPrice'`! What a nice surprise that we've got such a clean column already. Let's move on to the weight!

## How much does our Lego weigh? The `'WeightGrs'` column

It should make sense that each Lego set has only one possible weight. I.e., `'WeightGrs'` should be uniquely determined by `'ProdID'`

### Task:

* Check that for each unique `'ProdID'`, there is only one unique `'WeightGrs'` value.
* If there isn't, find the `'Weightgrs'` value that appears most frequently for that `'ProdID'`, and overwrite any other entries for that pairing with this value.

TODO: (Note to self) Probably split this into two seperate steps.

For example, the 'Airport' set appears 23 times. 21 instances list the weight as 993, and 2 instances list the weight as 1967. We would want to overwrite the weights listed as 1967 with 993.

In [48]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!</span>

In [49]:
# TEST CELL - Run this cell to test your cleaning of the 'WeightGrs' column

assertions.new_weights(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

## How big are our Lego sets? The `'PieceCount'` column

Finally, let's turn to the `'PieceCount'` field. Running the code below shows that we have some blank (nan) values.

In [50]:
# Create and view a dataframe where there's a null number of pieces

null_number_of_pieces = df_cleaned.loc[df_cleaned['PieceCount'].isna()]
null_number_of_pieces

,ProdID,SetName,ProdDesc,ProdLongDesc,ThemeName,Country,Ages,NumReviews,ListPrice,PieceCount,ValStarRating,LaunchDate,ReviewDifficulty,WeightGrs
46,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,CA,NaN,85.0,15.5922,NaN,2.3,22/10/2011,Very Easy,1137
47,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,CH,NaN,85.0,12.1380,NaN,2.3,25/10/2018,Very Easy,1137
48,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,CZ,NaN,85.0,11.9520,NaN,2.3,06/02/2018,Very Easy,1137
49,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,DE,NaN,85.0,14.6278,NaN,2.3,28/02/2011,Very Easy,1137
50,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,DN,NaN,85.0,12.0000,NaN,2.3,15/03/2019,Very Easy,1137
51,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,ES,NaN,85.0,14.6278,NaN,2.3,20/02/2019,Very Easy,1137
52,7280,Straight & Crossroad Plates,Add roads to your LEGO® town!,Expand your LEGO® town with this set of straig...,City,FI,NaN,85.0,15.7990,NaN,2.3,08/07/2017,Very Easy,1137

In [51]:
# Column type for 'PieceCount'
df_cleaned['PieceCount'].dtype

dtype('float64')

Once again, we'll need to check whether there are any `'ProdID'`'s with >1 different listed numbers of pieces. 

### TASK:

* Create a dataframe, `piececounts`, which has two columns, `'ProdID'`, and `'NumberOfUniquePieceListings'`, and just those `'ProdID'`'s that have >1 unique listings.

In [52]:
## TODO: Add your own code below!

     ProdID  NumberOfUniquePieceListings
332   42033                            2
622   75181                            2
652   75212                            2

### TEST: 
<span style="color:blue">Run the code block below to test your output!

In [53]:
# TEST CELL - Run this cell to test your 'unique_piececount' variable

assertions.unique_piececount(unique_piececount)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

If your code passes, you'll see that the `'ProdID'`'s:

* 42033
* 75181
* 75212

Have 2 unique listings for their `'PieceCount'`.

Let's see what those possible listings are.

### Task:

* Create a dataframe, `duped_piececounts`, which has the `'ProdID'`s listed above, and any possible `'PieceCount'` values

In [54]:
## TODO: Add your own code below!

,ProdID,SetName,PieceCount,NumberOfUniquePieceListings
0,42033,Record Breaker,125.0,2
1,42033,Record Breaker,130.0,2
2,75181,Y-Wing Starfighter™,1966.0,2
6,75181,Y-Wing Starfighter™,1967.0,2
23,75212,Kessel Run Millennium Falcon™,1413.0,2
27,75212,Kessel Run Millennium Falcon™,1414.0,2

We should see that they aren't in fact very different! Let's take the higher of the two listings in each case.

### Task:

* In the `'PieceCount'` column of `df_cleaned`, overwrite the lower values for these three `'ProdID'`'s with the higher value.

In [55]:
## TODO: Add your own code below!

### TEST: 
<span style="color:blue">Run the code block below to test your output!</span>

In [56]:
# TEST CELL - Run this cell to test your new 'PieceCount' values!

assertions.new_piececounts(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

## (Optional) - Further cleaning

We've done a fair bit of cleaning at this point! Hopefully, you're seeing a pattern to some of the investigation:
1. Finding null values, and using some method to fill them in
2. Finding slight variations in spelling, and resolving them
3. Finding out cases where `'ProdID'` should uniquely identify a column, but doesn't, and solving this. Also, finding cases where `'ProdID'` and `'Country'` should uniquely identify a column, and treating it in the same manner.

But on point 3, how do we know to use the `'ProdID'` column? And how do we know to use `'ProdID'` and `'Country'` in the cases that we have? It links back to the point mentioned earlier, about **dimensions** and **facts** about data. We have certain fields that help us identify what we're looking at, and then descriptive fields about that data. Keeping this in mind, and using our intuition and common sense, is a key skill in knowing what kind of cleaning we can do, and what decisions to take.

There are a number of columns we didn't yet investigate and clean. If you want to go ahead and explore them, and clean them, go ahead! The steps taken for the previous columns should act as a good blueprint.

In [57]:
# Do any other cleaning you want to do here!

-----
<div class="row">
    <div class="column">
        <h1 style="font-size: 300%;">3. Data extension: Let's get more Lego!</h1>
        <p>
            Wow! That was a lot of cleaning. All that work deserves a reward. I know, let's get some more Lego! 

We're going to find some extra information about our dataset that we might need for our analysis. In particular, we've got Lego from lots of different countries, and each set has a 'ListPrice'. But the currency of each country is different! We're going to add on some columns to find this information out.
        </p>
    </div>
    <div>
        <img src="https://i.pinimg.com/originals/54/53/c3/5453c36f37f0efda9c813601b286a1c7.jpg"
             alt="Greedy Lego"
             align="left" 
             width = "600"
             style="margin: 0px 00px"
             />
    </div>
</div>

## Adding columns for country names, and currencies

We're already thinking ahead to being able to present our lovely Lego castles and cityspaces... we've done so much cleaning already!

To aid the analysis and presentation we'll be getting to later, we're also going to want the **names** of the countries, and their **currencies**, not just their country codes. In particular, the **currency** will be really important! Our ListPrice attribute doesn't yet indicate the currency, just the country. It suggests that this column will mix between units, and we'll have to convert these records to the same unit before we can use that information!

### Task:

* Add two new columns to `df_cleaned`, called `'CountryName'`, and `'Currency'`, to identify the countries and their currency codes
    * A country such as 'US' will have `'CountryName'` as 'United States', and currency will be 'USD', for example

In [58]:
## TODO: Add your own code below!

array([], dtype=object)

### TEST: 
<span style="color:blue">Run the code block below to test your output!</span>

In [59]:
# TEST CELL - Run this cell to test your new 'CountryName' and 'Currency' values!

assertions.country_additions(df_cleaned)

( ͡❛ ͜ʖ ͡❛) Good job! Lego's looking pretty good.

Now that's done, we'll need to be able to convert from these different currencies to one single currency, say GBP. But we don't have that data!! Fear not, we have the internet...

### Task:

* Search online and find and save a csv/excel/any other file that has a conversion for all the currencies of these countries to GBP.
    * You'll want it to have two columns, something such as `'CountryCode'`/`'Country'`/`'Currency'`, and one that is called something like `'ConversionRate'`
* Load this file into a pandas dataframe, called `currency_df`
* Merge this information onto `df_cleaned`, and create a new column in `df_cleaned` called `ListPriceGBP`, that is the converted value.

In [60]:
## TODO: Add your own code below!

## (Optional) Adding an "EndSellingDate" column (*Difficulty: VERY HARD*)

For each record, we have a 'LaunchDate' attribute, indicating when LEGO began selling that item in each country. 

We are told that we are later going to get some information about the 'EndSellingDate' - the date at which that item was discontinued in each country. To aid our later analysis when we get this column, we are going to create some *dummy* records for an 'EndSellingDate' column, so we can do dummy analysis now.

### Task:

Create a 'EndSellingDate' column, that satisfies the following criteria:
* An 'EndSellingDate' value will ALWAYS be greater than the corresponding 'LaunchDate' value
* Values in the 'EndSellingDate' column are **randomly** distributed between the 'LaunchDate' value, and a value ten years into the future

I.e., a 'Brick Seperator' in the 'US' was launched on 25/06/2017. The 'EndSellingDate' value for this record should be a random date between 26/06/2017, and 25/06/2027.

**Hint(s):**
* To make things simpler, we can imagine that there are no leap years
* You'll want to change the 'LaunchDate' column to have a 'datetime' datatype. You can use pandas 'to_datetime' function to acheive this
* You will need to import the 'random' module, and use the 'randrange' method
* You will need to import the 'datetime' module, and use the '.timedelta' method
* You will need to define a function that takes as an input a "start_date" (data type datetime64[ns]), "interval_length" (data type int) - the number of years you want as an interval to select from

In [61]:
## TODO: Add your own code below!

      LaunchDate EndSellingDate
1689  2016-07-28     2023-05-09
16542 2011-09-17     2014-08-20
4408  2015-04-14     2021-08-02
1281  2011-03-11     2016-05-18
18605 2019-10-31     2022-10-26
5978  2018-06-24     2026-07-26
17059 2019-09-04     2020-10-20
11544 2014-09-18     2016-05-27
3846  2017-08-15     2027-06-03
3551  2019-02-16     2026-06-25

## (Optional) - Visualise the distribution of differences

If you managed to add a `'EndSellingDate'` to your dataframe, **congratulations**! You are a brave and worthy knight of the Lego dataverse.

<div class="row"> 
    <img src="https://cdn.shopify.com/s/files/1/1123/3426/products/TournamentKnight-LegoSeries20LegoMinifigure_753x.jpg?v=1589195873"
             alt="Lego knight"
             align="left" 
             width = "200"
             style="margin: 0px 60px"
    />
</div>

Now, let's convince ourselves that the difference in dates between the two columns are indeed random. 

### Task:

* Create a 'TimeDelta' column that has the difference of these columns, and plot the distribution.

In [ ]:
## TODO: Add your own code below!

------
## Taking stock: What have we done so far? (Part 2)

It's beeen a tricky path to get here - we've had to do a lot of cleaning! But we've learnt a lot about our data along the way, and we can be fairly happy it's in a good state.

In [ ]:
df_cleaned.sample(5)

-----
<div class="row">
    <div class="column">
        <h1 style="font-size: 300%;">4. Data interrogation: Finally, playing with our Lego</h1>
        <p>
            Finally we're in a position to answer some questions with our Lego. Our DataFrame, df_cleaned, is now in a good state. Let's write this DataFrame to a csv that we can keep and use later on, and start answering a couple of questions.
        </p>
    </div>
    <div>
        <img src="https://ideascdn.lego.com/media/generate/public/lego_ci/98543b0b-646a-420f-8eee-7b16ce98b85a/resize:1600:900/native"
             alt="Lego castle"
             align="left" 
             width = "600"
             style="margin: 0px 00px"
             />
    </div>
</div>‘

In [ ]:
# TODO - Write df_cleaned to the '/Data' directory as a csv, calling it 'LegoDataCleaned.csv'

Now that we've got through the tricky bit of cleaning, it's up to you to produce some insight! There are some questions below, but much less guidance in this section. Solutions will still be available at the end of the day!

## Which country has highest prices as an average?

### Task:
* Create a barchart / another chart to show the average price of items per country

In [ ]:
## TODO: Add your own code below!

## Which country launched each product first?

### Task:
* Create dataframe with three columns, `'SetName'`, `'CountryName'`, and `'LaunchDate'`, that only has the country that launched each respective product first

In [ ]:
## TODO: Add your own code below!

## How many sets are there in total?

### Task:
* Count the number of unique products sold across the world
* Count the number of unique products sold in each country

In [ ]:
## TODO: Add your own code below!

## Is there a country that sells all the sets?

### Task:
* Find out whether any countries sell all the products listed in this data

In [ ]:
## TODO: Add your own code below!

## The sets in each theme

### Task:

* Get a count of the number of unique sets sold per `'ThemeName'`
* Print a list of those sets sold in each `'ThemeName'`

In [ ]:
## TODO: Add your own code below!

## (Optional) And more playing with Lego!!!

There's a tonne of things we could do here! Add any of your own code below to answer interesting questions.

In [ ]:
## TODO: Add your own code below!