<div class="row">
    <div class="columm">
        <h1 style="position: absolute;font-size: 300%;">Introduction to Python: Day 1</h1>
        <br>
        <h1 style="position: absolute;font-size: 300%;">A primer on pandas</h1>
    </div>
    <div class="column">
        <img src="https://www.bjss.com/wp-content/uploads/BJSS.svg"
             alt="BJSS Logo"
             align="right" 
             width = "200"
             style="margin: 0px 60px"
             />
    </div>
</div>

<a href="#Background"><font size="+1">Background</font></a>
* Learning Objectives

<a href="#Recap-of-Day-1"><font size="+1">Recap of Day 1, Part 1</font></a>
* Basic python data types
* General python objects
* Accessing the properties and methods of objects
* Pandas essentials
    * `import` pandas
    * Read data
    * Export data
    * Select columns
    * Filter rows
    * Generate new variables

<a href="#Getting-Started"><font size="+1">Getting Started</font></a>
* Setting Your Working Directory
* Importing pandas, reading data.
* Reminder

<a href="#Descriptive-Statistics"><font size="+1">Descriptive Statistics</font></a>
* Describing numerical data
* Descriptive statistics for numerical data
* Describing text (or categorical) data
* Sorting values
* <a href="#Exercise-1">Exercise 1</a>

<a href="#Updating-Values"><font size="+1">Updating Values</font></a>
* Copies and Views
* Selecting and Filtering with `.loc[row_indexer, col_indexer]` and `.iloc[row_indices, col_indices]`
* Updating DataFrame Cells
* Propagating Missing Data Values with .loc[]
* Changing column data types
* Changing column names

<a href="#Aggregation"><font size="+1">Aggregation</font></a>
* Aggregation using the `.groupby()` method.

<a href="#Crosstabs,-Contingency,-and-Two-Way-Tables"><font size="+1">Crosstabs, Contingency, and Two Way Tables</font></a>
* Crosstabulation using the `pd.crosstab()` top-level function.
* <a href="#Exercise-2">Exercise 2</a>

<a href="#Merging-Data"><font size="+1">Merging Data</font></a>
* Indexical Data
* The `.merge()` function
* Types of Merge
* <a href="#Exercise-3">Exercise 3</a>

<a href="#Consolidation"><font size="+1">Consolidation</font></a>
* Today's Learning Objectives
* Vignettes for functions.

# Background

## Learning Objectives

This notebook should give you a working knowledge of pandas DataFrames (and Series), including how to:
* Describe numeric and categorical data
* Update values and columns
* Aggregate and cross-tabulate data
* Merge data

and then we'll take an opportunity to move beyond pandas:
* Exploring functions in python and their application in pandas

You should read through this notebook, adding code for the exercises and testing your outputs.

# Recap of Day 1, Part 1

A brief recap of what we covered in day 1, part 1.

## Data Types

Numeric values - Integers (`int`; Whole numbers), Floating-point numbers (`float`; Decimals)  
Text values - String (`str`; given in 'single quote' or "speech marks")  
Logical values - Booleans (`bool`; `True` or `False` values)  

## Objects

Python is object-oriented, all general data types (numerics, strings, booleans) and data structures (lists, tuples, sets, dictionaries) are objects. Objects have properties and methods. Properties are data stored by the object, and methods are behaviours, procedures or functions that can be performed by the object to produce an output, often with respect to the properties of the object itself. Objects are extensible, this means that programmers can take very general data structures and produce specialised objects that are useful for particular purposes, like the Series and DataFrame objects that Pandas implements to make working with data easier.

When we create an object we create a specific 'instance' of it, usually with some specific data. We store this new object in memory as a named variable. This name is called the object's identifier and allows us to reuse that object for as long as it remains in memory.

When we name an object, the name can't start with numbers, contain special characters (e.g. ^, %, & etc.) or be a reserved word like `list` or `True` which mean something particular to python.

## Accessing the properties and methods of objects

Some special functions built-in to python allow you to directly access the properties and methods of objects, such as the `str()` function which gets a string representation of an object, or the `len()` which returns the length of an object.

However, most of the properties and methods of a function are accessed using '.' (dot notation).

For instance, getting the rows and columns of a pandas DataFrame:
```python
nrows, ncols = df.shape
```
In the code above, I have a DataFrame called `df`, I get the number of rows and columns in `df` using the `shape` property with `df.shape`. This property returns a tuple, which I 'unpack' and store in two variables `nrows` and `ncols`.

We know that `shape` is a property of a DataFrame because it is just a word, there are no parentheses (brackets) after it. Compare it to:
```python
veg = ['carrot','carrot','parsnip','cabbage','carrot']
veg.count('carrot')
```
In the above code, we make a list called `veg` which contains several string objects. We then call a list method on `veg` called `count()`, which counts the number of occurances of a given parameter in the list. The parameter we use is `'carrot'` which matches 3 items in `veg`, we thus expect the output 3 from the `count()` method.

## Pandas Essentials

### `import` the pandas module

We've been using pandas, which is a powerful python module for data reading, writing and wrangling. By convention we import pandas into python using:
```python
import pandas as pd
```
`pd` is a commonly using nickname or 'alias' for pandas.

### Read Data Using pandas

Pandas has a load of built in file readers, they are all prefixed with `.read`, you can look them up with the tab key and use the one you need.

When you read data into python and assign it to a variable, we refer to that object as a 'DataFrame'.
```python
titanic = pd.read_csv('../Data/titanic.csv')
```

### Export Data Using pandas

Pandas can export DataFrame or Series objects to a range of different data formats, they are all prefixed with `.to`.

```python
titanic.to_excel('../Save/titanic.xlsx')
```

### Select Columns

* Select a single column by indexing with the column name.
* Select multiple columns by indexing with a list of column names.

```python
titanic['survived'] # single column, returning a Series
titanic[['survived','pclass']] # multiple columns, returning a DataFrame
```

### Filter Rows

Rows are filtered by creating a 'Boolean mask', effectively a row-by-row list of `True` or `False` values that determine whether a row is included or excluded in the filtered dataframe.

* Boolean masks are defined by setting a condition on the values in a given column.
* Multiple conditions can be combined using 'and' or 'or' operators which are given by `&` and `|` respectively.

Common conditions include:
* `==` is 'equal to'.
* `!=` is 'not equal to'.
* `>` and `>=` are 'greater than', and 'greater than or equal to'.
* `<` and `<=` are 'less than', and 'less than or equal to'.

There are also some useful functions, including:
* `.isin()` takes a list and return a `True` value for any row with a column value in that list.
* `between()` takes an upper and lower value, and returns `True` for any row with a column value between those values.

Finally, the 'tilde' `~` inverts, or negates whatever filter condition you have specified.

```python
titanic[titanic['survived'] == 0] # single condition filter
titanic[(titanic['survived'] == 0) & (titanic['pclass'] > 1)] # multiple condition filter
```

### Chained Indexing
We can combine column selection and row filtering in what is known as 'chained index'.
```python
titanic[(titanic['survived'] == 0) & (titanic['pclass'] > 1)]['survived'] # returns a Series
```
The order in which you chain operations doesn't matter.

### Generate New Variables

There are a number of ways to create new variables.

New columns can be created directly based on arithmetic operations like + - / \* 

```python
titanic['family'] = titanic['sibsp'] + titanic['parch']  
```
Binary variable can be created with conditions
```python
titanic['child'] = (titanic['age'] < 18).astype(int)
```        
Continuous variables can be classified using `pd.cut()` or `pd.qcut()`
```python
titanic['fare_tertiles'] = pd.qcut(titanic['fare'], 3, ['low','mid','high'])
```
Also, variables can be removed using the `del` statement, or the `.drop()` method.
```python
del titanic['survived'] # delete a column
titanic.drop(columns=['survived','embarked'], inplace = True)
```

# Getting Started
## Setting Your Working Directory

Remember from yesterday that you can check your working directory using `%pwd` and change it using `%cd`.

In the code cell below check that your working directory is the 'Notebooks' folder within the Introduction to Python Folder, if it is not, change the directory to Notebooks.

While it is not essential for you to set the working directory, not doing so will mean that you'll have to alter all the relative paths for data and solutions set up in this notebook.

In [ ]:
# Check and set your working directory here.
%pwd

## Import Pandas and Read in Data

Yesterday we learnt the code to import a python library. Use this to import pandas.

We also learnt the code to read in some data into python using pandas. Read in the titanic csv dataset, and assign the DataFrame to a variable named `titanic`.

Finally, check the first 5 rows of the DataFrame by calling the `.head()` method.

In [ ]:
# Type your code here. Add additional cells if required.

In [ ]:
# Reminder
%load ../Solutions/Day2/import_and_read.py

# Descriptive Statistics

There are really two broad types of data in our DataFrames at the moment that we want to look at - numerical data (i.e. ints and floats) and text data (i.e. strings; slightly confusingly called objects).

In this section, we will explore some basic univariate descriptive statistics.

## Describing Numerical Data
Let's start with the numerical data, because thats the easiest to work with. Pandas even has a built in function called `.describe()` which will provide some descriptive statistics for all the numerical columns in a dataframe.

In [ ]:
# Describe the titanic dataframe
titanic.describe()

As it happens, the descriptive statistics output for our titanic dataset is also a DataFrame!

Make sure you understand what each row means in this table:
* **count** - the number (count) of entries in the given column.
* **mean** - the average (arithmetic mean) data value in the given column.
* **std** - the standard deviation (spread) of values in the given column.
* **min** - the smallest value in the given column.
* **25%** - the value of the data at the lower quartile (i.e. after the first 25% of data, ordered from smallest to largest).
* **50%** - the middle value of the data (aka the median), half the values are larger than this value, and half smaller.
* **75%** - the value of the data at the upper quartile (i.e. after the first 75% of data, ordered from smallest to largest).
* **max** - the maximum data value recorded.

We can get a sense of the data from these descriptive statistics. For instance: 

## Descriptive Statistics for Numerical Data

`.describe()` is great to get an overview, but what if we just wanted particular statistics and not the whole lot?

Well, pandas will let you run a range of statistics individually! Some examples are given in the code below.

In [ ]:
# count() can be defined for all datatypes, so all columns are computed. Note which columns have some missing data.
titanic.count()

In [ ]:
# mean() is only defined for numeric columns
titanic[titanic['age'] < 18].mean()

In [ ]:
# std() is also only defined for numeric columns
titanic.std()

In [ ]:
# min() has a definition for numeric and text data.
# The minimum value of a text field is the text which is first alphabetically.
titanic.min()

In [ ]:
# max() has a definition for numeric and text data.
# The maximum value of a text field is the text which is last alphabetically.
titanic.max()

In [ ]:
# quantile() allows you to specify quantiles, such as 0.25 (lower quartile), 0.5 (median), and 0.75 (upper quartile)
# for convenience median() also exists
titanic['age'].quantile(0.5) # 25% - lower quartile.

In [ ]:
titanic['age'].median()

In [ ]:
# sum() works to concatenate text, producing a curious output.
titanic['fare'].sum()

In [ ]:
# Hopefully though it is obvious that these methods could be called on selected columns too.
titanic['fare'].sum()

In [ ]:
# As it happens, python has a built-in sum, min and max functions which does the same thing.
# however, pandas sum is better when confronted with missing data:
sum(titanic['fare'])

In [ ]:
titanic[titanic['fare'].isnull()]

In [ ]:
# Try this instead
sum(titanic[titanic['fare'].notnull()]['fare'])

In the above cell, a new filter condition for working with missing data is apparent: `notnull()` this returns `True` for rows that have a valid value, and `False` otherwise. Similar to the behaviour of `bool()`. The opposite of `notnull()` is `isnull()`.

This method of selection is similar to making conditional statements with object methods that return a Boolean, e.g.
```python
if string_variable.islower():
    # Do something
```
The same principle can apply to other contexts, for instance the `Series` object has a large number of string methods collected as `.str.`, calling `titanic['name'].str.contains('Mr.', regex=False)` returns `True` or `False` for each row in a column depending on whether it contains the substring 'Mr.'

In [ ]:
# Select passengers with title Mr. and get mean fare
titanic[titanic['name'].str.contains('Mr.', regex=False)]['fare'].mean()

In [ ]:
# Select passengers with title Mrs. and get mean fare
titanic[titanic['name'].str.contains('Mrs.', regex=False)]['fare'].mean()

## Describing Text (or Categorical) Data

We can still use `describe()` to look at text data, however we need to specify that we're looking at object (text) data types.

Really, the descriptive statistics below are for categorical data, they don't work very well if every value in a field is a different piece of text!

In [ ]:
# In the describe parameters we're only choosing to include object datatypes, given by 'O'.
# The 'O' is in a list, because we could include other data types in the list if we wanted to.
titanic.describe(include=['O'])

When you are describing an object you get some different summary statistics than with numerical data:

* **count** as before, a count of the values present in each column.
* **unique** a count of the number of unique values in each column.
* **top** is the most common value - aka the mode.
* **freq** is the frequency of occurance of the most common value.

Let's dig a bit deeper into some of these columns.

In [ ]:
# Interestingly there are 2 Kate Connollys, however they don't appear to be duplicates.
titanic[titanic['name'] == 'Connolly, Miss. Kate']

In [ ]:
# One way we could check for other name duplicates is by taking the mode.
# As mode can be non-unique it returns a series
# Looks like James Kelly is another possible duplicate.
titanic['name'].mode()

In [ ]:
# Again, these appear to be different people!
titanic[titanic['name'] == 'Kelly, Mr. James']

In [ ]:
# Here is a clever way of looking at the modal values!
# The Series returned by mode is an iterable, so is a valid parameter for .isin()
titanic[titanic['name'].isin(titanic['name'].mode())]

In [ ]:
# the unique() function will give us all the unique objects in a column.
titanic['embarked'].nunique()

In [ ]:
# the value_counts() function gives a count for each unique value in a chosen column.
titanic['embarked'].value_counts(dropna=False)
# Most people embarked in Southampton.

## Sorting Data

Sorting data is straightforward in pandas, a simple sort on one columns used the DataFrame method `.sort_values()`:
```python
titanic.sort_values('age')
```
The default is to sort in ascending order, from smallest to largest value. Set the ascending parameter to `False` for a descending sort:
```python
titanic.sort_values('age', ascending = False)
```
This approach sorts and returns the entire DataFrame, if you want to sort a single column on its works similarly:
```python
titanic['age'].sort_values()
```
More complicated sorting behaviours can be managed by passing a list, in the order you would like the sort to occur:
```python
titanic.sort_values(['pclass','age'], ascending = [True, False])
```
In the above code I sort first by 'pclass' then by 'age'. in addition I pass a list to ascending indicating that 'pclass' is to be sorted in ascending order, and 'age' in descending order.

In [ ]:
# sort fare descending
titanic.sort_values('fare', ascending = False).head(8)

In [ ]:
# sort by sex ascending, then age descending
titanic.sort_values(['sex','age'], ascending = [True, False]).head()

In [ ]:
# sort by sex descending, then age descending
titanic.sort_values(['sex','age'], ascending = False).head()

# Exercise 1

1. How old is the oldest passenger in the dataset?
2. How many men and women are in the dataset?
    * Check the pd.Series.value_counts() docstring and figure out how to get proportions of men and women.
3. Create a new column called 'std_fare' which is the 'fare' minus the mean fare, divided by the standard deviation.
4. Calculate the number of children in second class.

In [ ]:
# Type your code here.

In [ ]:
# Exercise 1 solutions
%load ../Solutions/Day2/exercise1.py

# Updating Values


## Important! Copies and Views

The selecting of columns and filtering of rows that you've done above effectively **copies** the original dataframe to make a new one based on your conditions. This is great for creating a pared-down dataframe to work with, or when filtering data to produce statistics for particular subsets of data.

However, when we want to actually update cell values we need to use a special function that ensures we are editing the original dataframe **view** and not a **copy** of it. If we edit cells on a copy of a dataframe, we might find that these values are not updated in the original dataframe when we come to analyse it!

This is a technical point that you don't need to worry too much about, just remember to use the following approaches when dealing with code!

In the titanic data, given what we know so far, we might try to update a cell values using what's called 'chained indexing':

```python
titanic[titanic['embarked'] == 'C']['embarked'] = 'c'
```
The above code makes sense - filter the rows, select the column and assign the value you want. However, python will give you a warning (specifically a 'SettingWithCopyWarning') that you're not doing things properly!

Instead we'll do the following:

```python
titanic.loc[titanic['embarked'] == 'C','embarked'] = 'c'
```

The code looks very similar, however in the second (correct) example we're using `.loc[]`

`.loc[]` is actually almost identical to the selecting and filtering we've already done. We just specify the rows and columns within the square bracket like: `.loc[row_indexer, col_indexer]` where:
* `row_indexer` is the mask if we are filtering, or a colon, `:`, if we want to include all rows.
* `col_indexer` is a single column name, or a list of column names, or a colon, `:`, if we want to include all columns.

You can actually use the .loc[] approach to do all the selecting and filtering we've already done if you want.

In addition to `.loc[]` we also have `.iloc[]` which behaves very similarly, except that it allows us to index on the index position of rows and columns.

Some examples using iloc[]:

In [ ]:
# Select all rows, and the first column
titanic.iloc[:,0].head()

In [ ]:
# Or select a range of columns
titanic.iloc[:,3:5].head()

In [ ]:
# Another head-like indexing approach
titanic.iloc[0:5,:]

Now some examples using `.loc[]`

In [ ]:
# Often researchers use column selection to reorder the columns in a DataFrame.
cols = list(titanic.columns)
cols.reverse()
titanic.loc[:,cols].head()

In [ ]:
# loc takes row conditions as usual.
titanic.loc[titanic['pclass'].isin([1,2]),['pclass','name']].sample(5)

Often pandas users will use chained indexing when selecting and filtering, and the `loc` and `iloc` operators when cleaning values on a cell-by-cell basis. There is no reason why you can't use these operators for selecting and filtering too, however, if you want to assign the sub-set DataFrame to a new variable you'll need to use the `.copy()` method to ensure that it is a different DataFrame in memory, rather than a reference to the original.
```python
new_df = titanic.loc[:,['survived','embarked']].copy()
```

## Propagating Missing Data Values with `.loc[]`

Earlier, when we created a new binary variable called 'child' the condition we used created a `Series` of `True` and `False` values based on whether the condition was met or not.

An important consideration when creating a new variable is presence of missing data. A condition will automatically set a missing value to `False`. This is fine for filtering data, but misrepresents data in a new variable - it makes a derived variable appear more complete than it is in reality.

In order to update the 'child' column to incorporate rows we know are missing we can use `.loc[]`:
```python
# This was the column originally generated.
titanic['child'] = (titanic['age'] < 18).astype(int)
# Now, update the missing data values
titanic.loc[titanic['age'].isnull(),'child'] = titanic[titanic['age'].isnull()]['age']
```
In the 2nd line of code, we use the row filter `titanic['age'].isnull()` to filter missing data in the 'age' column and we select the 'child' column. These are used to create a 'view' of the titanic DataFrame using `.loc[]`.

Then, we assign to that combination of rows and columns the values given by: `titanic[titanic['age'].isnull()]['age']` which will be a Series of missing values. We should now see missing values in the 'child' column.

In [ ]:
# Create child columns
titanic['child'] = (titanic['age'] < 18).astype(int)

In [ ]:
# initial composition of 'child'
titanic['child'].value_counts(dropna=False)

In [ ]:
# update and check new field
titanic.loc[titanic['age'].isnull(),'child'] = titanic[titanic['age'].isnull()]['age']
titanic['child'].value_counts(dropna=False)

## Changing Column Data Types

As with basic python data types, we can cast columns of data from one data type to another. This can be useful as part of a data cleaning process. Sometimes we find that data we expect to be numeric is actually string data, often occurs because the numbers are actually stored as text in the original dataset, in which case they have to be converted. Other times it is because the original dataset includes characters that pandas won't immediately interpret as a numeric value. This is particularly the case if a dataset contains missing data that is coded to a special character. Reading in these data as text is the safest option, as it preserves all of the information and requires the data analyst to make a decision as to how to handle the conversion to a numeric data type.

There are two ways to change a datatype, firstly the Series method: `.astype()` in which the parameter is a data type e.g.
```python
titanic['survived'].astype(str)
```
There is also a 'top-level' pandas function `pd.to_numeric()` which is a good option for data cleaning.
```python
pd.to_numeric(titanic['survived'])
```

In [ ]:
# turn survived to a string column
titanic['survived'] = titanic['survived'].astype(str)
titanic.dtypes['survived']

In [ ]:
# turned survived back to a numeric
titanic['survived'] = pd.to_numeric(titanic['survived'])
titanic.dtypes['survived']

## Updating Column Names

We've been dealing with clean data so far - but what happens when you're using data that's intended for something else? Data formatted for the web isn't ideal for using in programming.

What are some issues can we have in column names?

* column names might be really long, thesea are a pain to type out.
* spaces between words, and presence of special characters (e.g. %^&£ etc.) can be annoying
* columns names may be ambiguous or not sufficiently descriptive.

We can use the pandas `.rename()` method to update column names. To update the column names we pass a dicitonary to the parameter 'columns', e.g.
```python
df.rename(columns={'two':'new_name'}, inplace=True)
```
For a DataFrame `df`, the `rename` method allows us to change the names of columns based upon a dictionary. Here, the dictionary key `'two'` is the current name of the column, and the dictionary value `'new_name'` is what we want to rename the column.

In [ ]:
titanic.rename(columns={'std_fare':'fare_zscore'}, inplace=True)
titanic.head()

# Aggregation

Aggregation means grouping data together by a particular grouping variable and producing a summary of one or more columns for that grouping variable.

We'll use the `groupby()` function. 

This function can be really useful, especially when your data are disaggregate - e.g. data about individual units of people or things. 

`groupby()` allows you to aggregate by a categorical variable and summarise numerical data into a new dataframe.

`.groupby()` works on a principle known as 'split-apply-combine':
* Split - a dataframe is divided into a set of smaller dataframes based on the grouping variable.
* Apply - an aggregation is applied to each of the groups to create a single row for each group in the original dataframe.
* Combine - bring together the aggregated dataframe rows into a final new dataframe.

Let's walk through what that might look like for the `titanic` dataframe:
* Firstly, we decide to **split** the data by the 'pclass'. This divides the `titanic` dataframe into effectively three separate dataframes, one for first, one for second and one for third class.
* Secondly, we **apply** an aggregation to the dataframe. You can either produce an aggregate statistic for all rows, or you can selected specific columns on which to do the aggregation. If we **apply** a `.mean()` aggregation to 'fare', then for each 'pclass' group we get the average fare cost.
* Finally, pandas returns a **combined** dataframe that contains the new aggregate statistics.

Let's look at that in code:

In [ ]:
titanic.groupby('pclass')['fare'].mean()

In [ ]:
# Similarly a count of children by class might look like this:
titanic.groupby('pclass')['child'].sum()

Hopefully this all sounds fairly straightforward! `.groupby()` is a powerful tool, particularly when you are working with any kind of hierarchical data where you might want to know something aggregate about the groups within the data, for instance:
* individuals nested in households.
* employees nested in firms.
* patients nested in primary or secondary care trusts.
* small area geographies (e.g. wards, output areas, postcodes etc.) nested in larger geographies (e.g. districts, counties etc.)
* countries nested in supra-national entities.

or, demographic, cultural and socio-economic classes:
* individuals by age, sex, ethnicity, religion etc.
* employees by grade or occupational social class.
* households by neighbourhood deprivation rank or decile.
* experimental subjects in intervention and control arms of a trial.

We can also aggregate according to more complicated groupings:

In [ ]:
# Groupby passenger class, then city of embarkation.
titanic.groupby(['pclass','embarked'])['fare'].mean()

In [ ]:
# NB order is important to the output.
titanic.groupby(['embarked','pclass'])['fare'].mean()

The ordering of groups may be important as it affects the resultant DataFrame.

If you assign the `groupby()` output to a variable, you can also pull out dataframes for particular groups, just as if you had written a filter statement!

In [ ]:
classes = titanic.groupby('pclass')
classes.get_group(3).head()

# Crosstabs, Contingency, and Two-Way Tables

Similar to aggregation with `.groupby()` a cross-tabulation table allows you to generate frequencies for combinations of groups of data.

Crosstabs are often also refered to as 'contingency tables' and 'two-way tables' and, although there may be some subtle distinctions, these all refer to the setting of one categorical variable against another, creating a matrix, and then counting, or otherwise aggregating by cell values.

To create cross-tabulations, you can use the `pandas.crosstab()` function.

Let's have a look at a simple example:

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'])

The basic use of `.crosstab()` requires that you input the row category ('survived') and the column category ('sex'). This produces cell counts for the cross-tabulation of the two categories, so there were 339 passengers who were both 'female' and 'survived'.

The basic crosstab can be augmented with some additional parameters:
* `margins` - set to `True` to add row and column totals.
* `normalize` - create row or column proportions, or overall proportions, rather than frequencies. Keywords are 'index', 'columns' or 'all'.

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'], margins=True, normalize='all')

# Exercise 2

1. What is the average fare paid by men and women?
2. What is the median fare paid by men and women in each different class?
3. Create a crosstab for 'survived' and 'pclass', which class is the best for survival?

In [ ]:
# type your code here.

In [ ]:
# Exercise 2 solutions
%load ../Solutions/Day2/exercise2.py

# Merging Data

Often all the data you need to answer a question are not contained within a single dataset, but across several. Datasets can be joined, or 'merged', to allow data to be analysed together, but only **if the two datasets share a common reference or identifier.**

Linking data come in a number of forms, and are commonly refered to as 'indexical' data. Some examples include:

* Your NHS number, allowing data linkage across the NHS for primary, secondary, tertiary care episodes and prescribing.
* Any account number (e.g. banking, utilities, travel card, council tax etc.) can acts as a point of linkage between different sets of data.
* Your email, phone number, social media handles etc.
* Your address can also act as a spatial reference, linking you to your neighbourhood, local services etc.

## Different ways to merge

While you may have heard it called "Join" in other languages, particularly in database query languages, in pandas we use the `.merge()` function.

Once you have established that two DataFrames share a reference that will permit a merge to be conducted, you may wish to further specify how the merge behaves with the `how` parameter.

* Inner - Only rows with reference values that appear in both DataFrames are merged.
* Left - All the data from the 'left' DataFrame is retained, and any rows that have matching references are merged from the 'right' DataFrame.
* Right - All data from the right and anything that matches from the left. Effectively, the reverse of 'Left'.
* Outer (Full) - all data from the left and right DataFrame is retained, matched up where possible.

This can be easier to understand graphically:

![joins](https://www.dofactory.com/img/sql/sql-joins.png)

Let’s read in some additional titanic data and have a look at them.

The new dataset includes the passenger name and age, as well as the additional variables:
* boat - lifeboat identifier
* body - body identification number
* home.dest - the passenger's home and destination in the form "home / dest" or just "home".

The dataset is located in the 'Data' folder, it is an excel file called: 'titanic_more.xlsx'.

In [ ]:
# Read in the titanic_more.xlsx using pandas.
titanic_more = pd.read_excel('../Data/titanic_more.xlsx')
titanic_more.head()

In order to merge the two tables we need to use a column which uniquely defines each passenger and is available in both DataFrames. At first glance, 'name' would appear to be a good candidate for this, however, remember there are a couple of passengers who have the same name as each other.

We can explicitly check is a column uniquely identifies rows with the `Series.is_unique` property.

In [ ]:
# Name is not unique defined for each row in titanic
titanic['name'].is_unique

In [ ]:
# Name is not unique defined for each row in titanic_more
titanic_more['name'].is_unique

In this case, we can create a field that will uniquely identify passengers in both datesets by generating a new variable that combines the 'name' and 'age' variables. This is because we happen to know the ages of the passengers who have the same name.

In [ ]:
# Create unique id base don name and age for titanic
titanic['name_age_id'] = titanic['name'] + " " + titanic['age'].astype(str)
# Check if the new variable is unique
titanic['name_age_id'].is_unique

In [ ]:
# Create unique id base don name and age for titanic
titanic_more['name_age_id'] = titanic_more['name'] + " " + titanic_more['age'].astype(str)
# Check if the new variable is unique
titanic_more['name_age_id'].is_unique

Now that we have unique id fields in both titanic and titanic_more, we use them to merge the two datasets.

In [ ]:
# merge the titanic_more dataset with titanic
titanic_merge = titanic.merge(titanic_more[['name_age_id','boat','body','home.dest']], on = 'name_age_id')
titanic_merge.head()

In the code cell above we merge the `titanic_more` DataFrame into `titanic`. We do this on the basis of the 'name_age_id' variable that we created.

The default merge behaviour is 'inner' join, however in this particular case all behaviours ('inner', 'left', 'right','outer') resolve to the same outcome as both datasets include the same 1,309 passengers.

In [ ]:
# Note that pandas actually handles multiple columns directly for unique identification.
titanic_merge = titanic.merge(titanic_more[['name','age','boat','body','home.dest']], on = ['name','age'])

# Exercise 3

Load the revised dataset 'titanic_revised.xlsx' which only includes passengers which have a value for boat, body or home.dest and try merging this to titanic.

1. Which types of merge perform as expected?
    * Try the different `how` parameters: 'inner', 'outer', 'left', 'right'.
2. How many values are observed for boat, body, and home.dest?
    * i.e. How many values are non-missing/
    * Hint: use `.count()`
3. How many passengers in the dataset used lifeboat number 3? What proportion of them were female?
    * Hint: think about datatypes.
4. How many passengers record 'New York' or 'NY' somewhere in the 'home.dest' column?
    * If you do a selection using `Series.str.contains()` you need to specify the parameter na=False.
    * This sets missing values to `False` in the boolean filter and excludes them from the selection.

In [ ]:
# write your code here

In [ ]:
# Solutions for exercise 3
%load ../Solutions/Day2/exercise3.py

# Consolidation

## Reminder of Learning Objectives

We're going to establish a working knowledge of pandas DataFrames (and Series), including how to:
* Describe numeric and categorical data
* Update values and columns
* Aggregate and cross-tabulate data
* Merge data

## Vignettes

There is a supplementary additional notebook to explore in the notebooks folder.
1. [Vignette - Functions](Vignette-User_Defined_Functions.ipynb): explores how to create functions in python using `def` and `lambda` and how to `map` and `apply` functions to pandas dataframes.

## Looking ahead: Tomorrow's challenge
The notebooks you've covered today will hopefully set you up well for the data cleaning task tomorrow, set out in the [Playing-with-Lego](playing-with-lego.ipynb) notebook. A lot of the kind of methods you'll want to use there will have been covered in these notebooks.